extends layout

block content
	h1= title

	form(action='/ingredient/create', method='post')
		| Ingredient Name
		input(name='someValue1')
		| Cost
		input(cost='someValue2')
		button(type='submit')
			| Submit